<script type="text/javascript">
	$(document).ready(function () {
		EmailHush.home.headerInit();
		EmailHush.scroller.init([$('[href="/"]')], [$('.wrapper')], $('#nav_highlight'));
	});
</script>

<div class="textblob">
	<h1>Privacy Policy</h1>

	<h5>Last modified: March 1<sup>st</sup>, 2013</h5>

	<h3>Information we collect</h3>

	<p>We collect information for two reasons: firstly to facilitate certain functionalities of this Service, and secondly to improve these features and the general experience on this Service for all users.</p>

	<p>We collect information that you give us, either through forms on this site or otherwise, and we also collect information from your usage of this Service.</p>

	<ul class="base_list">
		<li>
			<h4>Information you give us</h4>
			You may enter information like your name or timezone on EmailHush.
		</li>

		<li>
			<h4>Information from your use of this Service</h4>
			We may collect information about your use of this Service, including how you interact with content on this site and statistics about your mail schedule.
			<ul>
				<li>
					<h4>Device information</h4>
					We may collect device-specific information (such as your hardware model, operating system version, and unique device identifiers). EmailHush may associate your device identifiers with your EmailHush account.
				</li>
				
				<li>
					<h4>Log information</h4>
					When you use our Service, we may automatically collect and store certain information in server logs. This may include:
					<ul>
						<li>statistics on number of emails received and time quarantined by EmailHush.</li>
						<li>IP address</li>
						<li>device event information such as crashes, hardware settings, browser type, browser language, date and time of your request, and referral URL.</li>
						<li>cookies that may uniquely identify your browser or your EmailHush account.</li>
					</ul>
				</li>
				
				<li>
					<h4>Location information</h4>
					When you use a location enabled EmailHush service, we may collect and process information about your actual location, like GPS signals sent by a mobile device. We may also use various technologies to determine location, such as sensor data from your device that may, for example, provide information on nearby Wi-Fi access points and cell towers.
				</li>

				<li>
					<h4>Cookies and anonymous identifiers</h4>
					We use various technologies to collect and store information when you visit this Service. This may include sending cookies or anonymous identifiers to your device.
				</li>

			</ul>
		</li>
	</ul>


	<h3>How information is used</h3>

	<p>Information we collect is used to provide and improve this Service.</p>

	<p>We may use your name, as obtained from your Google account or as you have entered it on this site, throughout this site and in email correspondances.</p>

	<p>If you contact EmailHush, we may keep a record of any and all communications to assist in diagnosing issues. We may use your email address to send you feature announcements and administrative communications.</p>

	<p>We use information collected from cookies and other technologies to improve your user experience and the quality of this Service.</p>

	<h3>Sharing of information</h3>

	<p>We do not share personal information with companies, organizations, or individuals outside of EmailHush except in the following cases:</p>

	<ul class="base_list">
		<li>
			<h4>With your consent</h4>
			We will share personal information with companies, organizations, or individuals outside of EmailHush when we have your explicit consent to do so. You must opt-in for the sharing of any sensitive personal information.
		</li>
		
		<li>
			<h4>For external processing</h4>
			We may provide personal information to our affiliates or other trusted businesses or persons for processing. These parties will operate within our Privacy Policy and within other internal confidentiality and security policies.
		</li>
		
		<li>
			<h4>For legal reasons</h4>
			We may share personal information with companies, organizations, or people outside of EmailHush if we have a good-faith belief that access, use, preservation, or disclosure of the information is necessary to:<ul>
				<li>meet any applicable law, regulation, legal process or enforceable governmental request.</li>
				<li>enforce applicable Terms of Service, including investigation of potential violations.</li>
				<li>detect, prevent, or otherwise address fraud, security or technical issues.</li>
				<li>protect against harm to the rights, property or safety of Google, our users or the public as required or permitted by law.</li>
			</ul>
		</li>
	</ul>

	<p>We may share non-personally identifiable information publicly and with third parties for analytics and advertising.</p>

	<h3>Information security</h3>

	<p>We strive to maintain a secure system, and we store as little sensitive information as possible.</p>

	<p>EmailHush accesses your GMail account and Google Calendars to coordinate mail delivery with your schedule. EmailHush stores the next 6 days of events with the EmailHush label in your Google Calendar in a cache. Events which ended more than 48 hours ago are purged from the cache. EmailHush reads timestamps, flags, and labels from emails in your Gmail Account. EmailHush may modify flags and labels on any emails which have the &quot;EmailHush&quot; label, including marking messages as &quot;seen&quot; or &quot;unseen&quot; or moving messages to or from your inbox.</p>

	<p>EmailHush does not access message bodies, subjects, senders, or recipients of emails in your GMail account.</p>

	<h3>Changes</h3>

	<p>Our Privacy Policy may change occasionally, but we will not reduce your rights under this Privacy Policy without your explicit permission. Any changes to our Privacy Policy will be posted on this page. We will keep previous versions of this Privacy Policy archived.</p>

</div>
