<script type="text/javascript">
	$(document).ready(function () {
		EmailHush.home.headerInit();
		EmailHush.scroller.init([$('[href="/"]')], [$('.wrapper')], $('#nav_highlight'));
	});
</script>

<div class="textblob">
	<h1>Terms of Service</h1>
	
	<h5>Last modified: March 1<sup>st</sup>, 2013</h5>

	<p>This Service is provided by Mark Richardson (EmailHush). By using this Service, you are agreeing to these terms.</p>

	<h3>Use of Service</h3>
	<p>You must not misuse this Service by using this Service in any way not described by the EmailHush instructions and documentation. You may only use this Service as permitted by law, including applicable export and re-export control laws and regulations. We may stop providing this Service to you if you fail to comply with these terms, or if we suspect misuse of this Service.</p>

	<p>We may send you emails for feature announcements and administrative purposes. You may opt out of some of these communications.</p>

	<h3>Privacy</h3>
	<p>Our <%= link_to "Privacy Policy", { :controller => 'privacy', :action => 'show' }, :class => 'footer_link' %> explains what information is accessed by EmailHush and how this information is used. By using this Service, you agree that we can obtain and use data in accordance with our privacy policy.</p>


	<p>We are constantly modifying and improving this Service. We may add or remove functionality, or terminate this Service altogether. You may stop using this Service at any time, and we may stop providing or impose new limits on this Service at any time.</p>


	<h3>Warranties and Disclaimers</h3>
	<p>This is a personal project, and as such there are bound to be lapses in service. We make no guarantees about the availability or functionality of this Service.</p>
	
	<p>OTHER THAN AS EXPRESSLY SET OUT IN THESE TERMS OR ADDITIONAL TERMS, NEITHER EMAILHUSH NOR ITS SUPPLIERS OR DISTRIBUTORS MAKE ANY SPECIFIC PROMISES ABOUT THE SERVICES. FOR EXAMPLE, WE DON’T MAKE ANY COMMITMENTS ABOUT THE CONTENT WITHIN THE SERVICES, THE SPECIFIC FUNCTION OF THE SERVICES, OR THEIR RELIABILITY, AVAILABILITY, OR ABILITY TO MEET YOUR NEEDS. WE PROVIDE THE SERVICES &quot;AS IS&quot;.</p>

	<p>SOME JURISDICTIONS PROVIDE FOR CERTAIN WARRANTIES, LIKE THE IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. TO THE EXTENT PERMITTED BY LAW, WE EXCLUDE ALL WARRANTIES.</p>


	<h3>Limitation of Liability</h3>
	<p>WHEN PERMITTED BY LAW, EMAILHUSH, AND EMAILHUSH'S SUPPLIERS AND DISTRIBUTORS, WILL NOT BE RESPONSIBLE FOR LOST PROFITS, REVENUES, OR DATA, FINANCIAL LOSSES OR INDIRECT, SPECIAL, CONSEQUENTIAL, EXEMPLARY, OR PUNITIVE DAMAGES.</p>

	<p>TO THE EXTENT PERMITTED BY LAW, THE TOTAL LIABILITY OF EMAILHUSH, AND ITS SUPPLIERS AND DISTRIBUTORS, FOR ANY CLAIM UNDER THESE TERMS, INCLUDING FOR ANY IMPLIED WARRANTIES, IS LIMITED TO THE AMOUNT YOU PAID US TO USE THE SERVICES (OR, IF WE CHOOSE, TO SUPPLYING YOU THE SERVICES AGAIN).</p>

	<p>IN ALL CASES, EMAILHUSH, AND ITS SUPPLIERS AND DISTRIBUTORS, WILL NOT BE LIABLE FOR ANY LOSS OR DAMAGE THAT IS NOT REASONABLY FORESEEABLE.</p>

	<h3>Business use of this Service</h3>
	<p>If you are using this Service on behalf of a business, that business accepts these terms. It will hold harmless and indemnify EmailHush from any claim, suit or action arising from or related to the use of this Service or violation of these terms, including any liability or expense arising from claims, losses, damages, suits, judgments, litigation costs and attorneys' fees.</p>

</div>
